<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQGdIKzgvq9ygqV1Ci77xkuWlyKWFnq3w</string>
	<key>GCM_SENDER_ID</key>
	<string>445857147004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pinocho</string>
	<key>PROJECT_ID</key>
	<string>pinocho-a3987</string>
	<key>STORAGE_BUCKET</key>
	<string>pinocho-a3987.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445857147004:ios:d6afe5464a451f3fd881f9</string>
</dict>
</plist>